{% extends "base.html" %}
{% load static cache %}  {# Добавляем тег load для cache #}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4 mb-4 animate__animated animate__fadeInDown">Добро пожаловать на сайт сборки компьютеров!</h1>
                <p class="lead mb-4 animate__animated animate__fadeInUp">Здесь вы можете собрать компьютер своей мечты, просматривать комплектующие, создавать конфигурации и управлять своей корзиной.</p>

                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <p class="mb-3 animate__animated animate__fadeIn">Привет, <span class="fw-bold">{{ user.username }}</span> (Сотрудник)!</p>
                        <p>
                            <a href="{% url 'builds:employee_order_list' %}" class="btn btn-primary animate__animated animate__fadeIn">Управление заказами</a>
                            <a href="{% url 'users:logout' %}" class="btn btn-outline-danger animate__animated animate__fadeIn">Выйти</a>
                        </p>
                    {% else %}
                        <p class="mb-3 animate__animated animate__fadeIn">Привет, <span class="fw-bold">{{ user.username }}</span>!</p>
                        <p>
                            <a href="{% url 'users:logout' %}" class="btn btn-outline-danger animate__animated animate__fadeIn">Выйти</a>
                        </p>
                    {% endif %}
                {% else %}
                    <p>
                        <a href="{% url 'users:register' %}" class="btn btn-primary me-2 animate__animated animate__fadeIn">Зарегистрироваться</a>
                        <a href="{% url 'users:login' %}" class="btn btn-success animate__animated animate__fadeIn">Войти</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4 animate__animated animate__fadeIn">Популярные категории</h2>
        <div class="row d-flex align-items-stretch">
            <div class="col-md-4 mb-4 animate__animated animate__fadeInLeft">
                <div class="card h-100">
                    <img src="{% static 'images/cp.jpg' %}" class="card-img-top" alt="Процессоры">
                    <div class="card-body">
                        <h5 class="card-title">Процессоры</h5>
                        <p class="card-text">Выберите идеальный процессор для вашего компьютера.</p>
                        <a href="{% url 'components:cpu_list' %}" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 animate__animated animate__fadeInUp">
                <div class="card h-100">
                    <img src="{% static 'images/gp.jpg' %}" class="card-img-top" alt="Видеокарты">
                    <div class="card-body">
                        <h5 class="card-title">Видеокарты</h5>
                        <p class="card-text">Найдите видеокарту, которая соответствует вашим потребностям.</p>
                        <a href="{% url 'components:gpu_list' %}" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 animate__animated animate__fadeInRight">
                <div class="card h-100">
                    <img src="{% static 'images/ra.jpg' %}" class="card-img-top" alt="Оперативная память">
                    <div class="card-body">
                        <h5 class="card-title">Оперативная память</h5>
                        <p class="card-text">Увеличьте производительность вашего компьютера с помощью качественной ОЗУ.</p>
                        <a href="{% url 'components:ram_list' %}" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}